<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type ="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <script type="text/javascript">
    $(document).ready(function(){
        var socket = io.connect('http://127.0.0.1:5000')

        var usersConnected = document.getElementById("usersConnected");

        socket.on('users', function(users) {
            userCount = document.getElementById("usersConnected");
            userCount.innerHTML = users.user_count;
        });

        socket.on('message', function(msg){
            $("#textbox").val(msg);
            console.log('Recieved Message');
        });

        $('#textbox').on('keyup', function() {
            socket.send($('#textbox').val());
        });
    });
    </script>
    <div>
       <h1>Users Connected: <var id ="usersConnected"> </var> </h1>
    <textarea id="textbox" rows="4" cols="50"> 
This is where you can type.
    </textarea> <!-- Might need to change this to div contenteditable=true, that way the elements can be bolded, etc. -->
    </div>
</body>
</html>