<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Text & Share Login</title>
        <link rel="stylesheet" href="/static/login.css"></style>
    </head>
    <body>
        <div class="login">
        <h1>Welcome back to <br> Text & Share</h1>
        <h3>Sign into an existing account</h3>
        <form action = "session" method="POST">
            <input type="text" name="user" placeholder="username">
            <br>
            <input type="text" name="password" placeholder="password">
            <br>
            <input type="submit">
        </form>
    </body>
</div>
</html>
