{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Text & Share</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/session.css"></style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/session.js"></script>
    <script type="text/javascript" src="/static/editing.js"></script>
    <script type ="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/f97d78160d.js" crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Text & Share</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
              <li><a href="{{ url_for('signup') }}">Sign Up</a></li>

          </ul>
      </div>
      <!--/.nav-collapse -->
  </div>
</nav>

<body onload="initDoc();">
  <!--<h1>Users Connected: <var id ="usersConnected"> </var> </h1><-->
  <h1 name="mainheader">Text and Share Editor</h1><br>
  <form name="compForm" method="post" action="sample.php" onsubmit="if(validateMode()){this.myDoc.value=oDoc.innerHTML;return true;}return false;">
  <input type="hidden" name="myDoc">
  
  <div id="toolBar2">
    <table id=toolBarTable>
    <tr>
    <td><img id="boldButton" class="intLink fas fa-bold" onclick="formatDoc('bold');" src=""/></td>
    <td><img id="italicButton" class="intLink fas fa-italic" onclick="formatDoc('italic');" src=""/></td>
    <td><img id="underlineButton" class="intLink fas fa-underline" onclick="formatDoc('underline');" src=""/></td>
    <td><img class="intLink fas fa-align-left" onclick="formatDoc('justifyleft');" src=""/></td>
    <td><img class="intLink fas fa-align-center" onclick="formatDoc('justifycenter');" src=""/></td>
    <td><img class="intLink fas fa-align-right" onclick="formatDoc('justifyright');" src=""/></td>
    <td><div id="editMode"><input type="checkbox" name="switchMode" id="switchBox" onchange="setDocMode(this.checked);" /> <label for="switchBox"></label></div></td>
    <td>
      <select name="fnts" id="fnts">
        <option value="Franklin Gothic Medium" id="font1">Franklin Gothic Medium</option>
        <option value="Times New Roman" id="font2">Times New Roman</option>
      </select>
    </td>
    </tr>
    </table>
  </div>

  <div contenteditable="true" id="textBox">The quick brown fox jumps over the lazy dog</div>
  
  <br><br>
  <form action = "home" method="POST">
    <input id="backButton" type="submit" value="Back To Login">
  </form>  
</form>
</body>
{% endblock %}
</html>
